@import "~bootstrap/scss/bootstrap";

.header{
    background-color: #1d2835f2!important;
    z-index: 100;
    color: white;
    font-size: large;
    ul {
        li{
            a.nav-link{
                color: white;
            }
        }
    }

    .loggedAs {
        color: cadetblue;
        font-size: 14px;
        span{
            text-decoration: underline;
            color: white;
        }
    }
}

.btn-register{
    background-color: $green!important;
    color: white!important;

}

.logo{
    width:75px;
}

