@import "~bootstrap/scss/bootstrap";

.header{
    background-image: linear-gradient(to top, #b3ffab 0%, #12fff7 100%);
    z-index: 100;
}

.btn-register{
    background-color: $green!important;
    color: white!important;

}

.logo{
    width:75px;
}

