.rwd-table {
  background: #34495E;
  color: #fff;
  border-radius: 0.4em;
  overflow: hidden;
  width: 50%;
  min-width: 300px;
  max-width: calc(100vw - 100px);
  border: 1px solid black;
  margin: auto;
  font-size: 12px;


  td {

    padding: 10px 15px;
    text-align: center;
    //border: 1px solid #DDDDDD;


  }

  th {
    color: #dd5;
    text-align: center;
    padding: 10px 15px;
    border: 1px solid #DDDDDD;

  }

  btn , a ,button {
    width: 75px!important;
  }
}