@import "~bootstrap/scss/bootstrap";
@import "../../assets/styles/variable";

body {
  background: rgb(20,30,48);
  font-family: sans-serif;

  .login-form {
    background: $formBgColor;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .email-box,
    .password-box {
      label {
        top: -25%;
        left: 6%;
        color: $white;
        transition: 0.5s;
      }

      input.login-input {
        outline: 0;
        border: none;
        border-bottom: 1px solid $white;
        border-radius: 0;
        background-color: $inputBgColor;
        color: $white;
        width: 100%;
        height: 37px;
        padding: 10px 10px;

        &:focus {
          outline: 0;
        }

        &:-webkit-autofill {
          background-color: red !important; /* Your desired background color */
          color: #333; /* Your desired text color */
        }
        &:focus ~ label {
          top: -115%;
          left: 3%;
          font-size: 14px;
          color: $labelColor;
          font-weight: bold !important;
        }
      }
    }

    button {
      overflow: hidden;
      color: $buttonColor;

      &:hover {
        background: $buttonColor;
        color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 5px $buttonColor, 0 0 25px $buttonColor, 0 0 50px $buttonColor,
          0 0 100px $buttonColor;
      }
      span {
        position: absolute;
        display: block;

        &:nth-child(1) {
          top: 0;
          left: -100%;
          width: 100%;
          height: 2px;
          background: linear-gradient(90deg, transparent, $buttonColor);
          animation: btn-anim1 1s linear infinite;
        }

        &:nth-child(2) {
          top: -100%;
          right: 0;
          width: 2px;
          height: 100%;
          background: linear-gradient(180deg, transparent, $buttonColor);
          animation: btn-anim2 1s linear infinite;
          animation-delay: 0.25s;
        }

        &:nth-child(3) {
          bottom: 0;
          right: -100%;
          width: 100%;
          height: 2px;
          background: linear-gradient(270deg, transparent, $buttonColor);
          animation: btn-anim3 1s linear infinite;
          animation-delay: 0.5s;
        }

        &:nth-child(4) {
          bottom: -100%;
          left: 0;
          width: 2px;
          height: 100%;
          background: linear-gradient(360deg, transparent, $buttonColor);
          animation: btn-anim4 1s linear infinite;
          animation-delay: 0.75s;
        }
      }
    }
  }
}

.translate ~ label {
  top: -115% !important;
  left: 3% !important;
  font-size: 14px !important;
  color: $green !important;
  font-weight: bold !important;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
