{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
    <span onclick="show()" class="d-block w-fit position-absolute">zefez</span>

    <div class="bg-image position-absolute top-0 start-0 opacity-50"></div>
    <div class="m-auto my-5 w-fit text-center position-relative">
        <h2>ETH Price Today is : {{ prix }} €</h2>
        <div>
           <i class="fa fa-search"></i><i class="fa-brands fa-square-facebook justify-self-end"></i>
        </div>
        {% if(app.user) %}
            <h1>Welcome To Home Page</h1>
            {% if not is_granted('ROLE_ADMIN') %}

                <b>You don't have the access to our application yet , please contact an ADMIN.</b>
                <br>
                <a class="btn btn-primary" href="{{ path('app_logout') }}">Logout</a>
            {% endif %}

        {% else %}
{#            Change the content later#}

            <a class="btn btn-primary my-5" href="{{ path('app_login') }}">Login</a>

        {% endif %}
    </div>



{% endblock %}
