{% extends 'base.html.twig' %}

{% block title %}Image index{% endblock %}

{% block body %}
    <div class="bg-image position-absolute top-0 start-0 opacity-50"></div>
    <h1 class="w-fit mx-auto my-5 position-relative">All Images</h1>


    <table class="rwd-table position-relative">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td>{{ image.id }}</td>

                <td>{{ image.name }}</td>

                <td>
                    <a href="{{ path('app_image_show', {'id': image.id}) }}" class="btn btn-warning ">Show</a>
                </td>
            </tr>
            <tr>
                <td colspan="3" class="py-0">
                    <hr class="my-1">
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="3">
                {{ knp_pagination_render(images) }}
            </td>
        </tr>
        </tbody>
    </table>


{% endblock %}
