@import "~bootstrap/scss/bootstrap";
@import "/assets/styles/partials/buttons";
@import "/assets/styles/partials/tables";
@import "/assets/styles/partials/forms";
@import "/assets/styles/partials/pagination";



@font-face {
  font-family: Montserrat;
  src: url("/assets/styles/fonts/Montserrat/static/Montserrat-Regular.ttf");
}

html {
  height: 100% !important;
}

body {
  background-color: #cbe0dd;
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

}

* {
  font-family: Montserrat, sans-serif !important;
}


.w-fit{
  width: fit-content!important;
}

.white{
  color: white;
}

.section{
  background-color: #13101E;
  min-height: 100vh;
}



