{% extends 'base.html.twig' %}

{% block header %}
{% endblock header %}

{% block body %}
<div id="main">
    <div class="d-flex justify-content-center align-items-center h-50">

        <h1 class="me-3 pe-3 align-top border-right align-content-center">500</h1>
        <div class="align-middle">
            <h2 class="lead">Sorry! Due to technical problems the server is currently not able to respond to your
                requests.</h2>
        </div>

    </div>
    <a href="{{path("app_home")}}" class="box__button mx-auto w-fit mt-3">Home Page</a>
</div>

{% endblock body %}

{% block footer %}
{% endblock footer %}